# Legacy VCS metadata
.svn/

# Python cache and virtual environments
__pycache__/
*.py[cod]
.venv/
venv/

# Build output directories
# Ignore only log folders/files inside build, but include all other build contents
**/build/log*/
**/build/out_console.txt

# Common compiled artifacts
*.elf
*.map
*.o
*.a

# Runtime/temp files
*.tmp
*.swp
*.log
*.err
log*.txt
mqtt_python/PID_log.txt


# Ignore all JPEG images
*.jpg

CLAUDE.md